<%- include('header') %>
<h1>Profile</h1>
<div>
    <% Object.keys(user).forEach(function(userKey) { %>
    <p><%= user[userKey] %></p>
    <% }); %>
    <!-- No need to do the below
    <p><%= user.name %></p>
    <p><%= user.username %></p>
    <p><%= user.phone %></p>
    <p><%= user.email %></p>
    <p><%= user.address %></p> -->
</div>
<br>
<a href="/">Back to Account Summary</a>

<%- include('footer') %>